<!DOCTYPE html>
<html>
<head>
    <title>Wildfire Hotspot Map (Live)</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>Wildfire Hotspot Detection Map (Live)</h2>
    <div id="container">
        <div id="control-panel">
            <div>
                <strong>Active Hotspots:</strong>
                <div class="stat" id="totalCount">Total: 0</div>
                <div class="stat"><span class="color-box high"></span> High: <span id="highCount">0</span></div>
                <div class="stat"><span class="color-box medium"></span> Medium: <span id="mediumCount">0</span></div>
                <div class="stat"><span class="color-box low"></span> Low: <span id="lowCount">0</span></div>
            </div>
        </div>
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>